<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta charset="UTF-8">
    <title>Covid19 Visualization</title>
  </head>
  <body>
    <div id="confirmed-deaths" class="graph-wrap"></div>
    <div id="after-100days" class="graph-wrap"></div>
    <footer>Data from <a href='https://covid19api.com/' target="_blank">Covid19API</a></footer>
  </body>
</html>