body {
  font-family: Open Sans;
  padding-left: 15px;
  padding-right: 15px;
}

footer {
  position: fixed;
  bottom: 5px;
  right: 5px;
}

.graph-wrap {
  display: flex;
  flex-flow: row wrap;
}

.graph-details {
  flex: 1 0 100%;
  order: 1;
}

.graph {
  order: 2;
}

.graph-control {
  order: 3;
}

.graph-title {
  text-align: center;
  font-weight: bolder;
  font-size: 1.2em;
  margin-bottom: 15px;
  cursor: pointer;
}

.graph-explains {
  font-size: small;
  text-align: center;
}

.input-label {
  font-weight: bolder;
}

.space-between-text {
  display: flex;
  justify-content: space-between;
}

.line {
  fill: none;
}

#confirmed-deaths circle {
  cursor: pointer;
}

#after-100days .line:not(.highlighted),
#after-100days circle {
  cursor: pointer;
}