body {
  font-family: Open Sans;
  padding-left: 15px;
  padding-right: 15px;
}
.graph-wrap {
  display: flex;
}
.graph-title {
  text-align: center;
}

.input-label {
  font-weight: bolder;
}

.space-between-text {
  display: flex;
  justify-content: space-between;
}

.line {
  fill: none;
}

#confirmed-deaths circle {
  cursor: pointer;
}

#after-100days .line:not(.highlighted) {
  cursor: pointer;
}